* {
    margin: 0;
    padding: 0;
}

 body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-image: url("./images/cloudy.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
.header {
    background-color: #2E2F2F;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.header-title {
    font-size: 36px;
}

/*content*/

.content {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*search*/
.form-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}

#searchButton {
    margin-left: 10px;
    background-color: #2E2F2F;
    background-color: ;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #1c1d1d;
    color: #ffffff;
}

.search-bar {
    width: 100%;
    padding: 10px;
}

.content-weather-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 70px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 18px;
    border-color: #2E2F2F;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
}

.content-top,
.content-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.left-container {
    margin-left: 40px;
    font-size: 22px;
    padding-bottom: 10px;
}

.right-container {
    margin-left: 40px;
    font-size: 22px;
    padding-bottom: 40px;
}

.weather-city-name {
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 18px;
}

.weather-temperature,
.weather-description {
    font-size: 36px;
    padding-bottom: 6px;
}

.weather-min-temp,
.weather-max-temp,
.weather-feels-like,
.weather-humidity,
.weather-wind,
.weather-pressure {
    font-size: 26px;
    padding-bottom: 6px;
}

